blockquote {
    font-family: Arial;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase
}
#circle {
    background: blue;
    top: 50%;
    position: absolute;
    left: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate3d(-50%, -50%, -1px)
}