blockquote {
    font-family: Arial;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase
}
.circle {
    background: #00ffc6;
    top: 50%;
    position: absolute;
    left: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate3d(-50%, -50%, -1px);
    z-index: 3;
}
.circle:nth-child(2) {
    background: #ffd600;
    z-index: 2;
}
.circle:nth-child(3) {
    background: wheat;
    z-index: 1;
}